{% extends 'base.html' %}

{% block title %}
Delivery
{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header">
    Delivery
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-3">
      <p>Delivery</p>
      <footer class="blockquote-footer">Привет Доставка длится от одного дня до трёх дней, всё зависит от клиента и его проживание! 🚗 Спасибо за понимание ! <cite title="Source Title"></cite></footer>
    </blockquote>

    <a href="{% url 'home' %}" class="btn btn-primary ">На главную</a>
  </div>
</div>
{% endblock %}

