{% extends "base.html" %}

{% block title %}
𝙏𝙚𝙘𝙝𝙣𝙞𝙘𝙖𝙡 𝙨𝙪𝙥𝙥𝙤𝙧𝙩
{% endblock %}
{% block content %}
<div class="card text-center">
  <div class="card-header">
    𝕎𝕒𝕥𝕙 𝕊ℍ𝕠𝕡
  </div>
  <div class="card-body">
    <h5 class="card-title">Социальные Сети</h5>
    <p class="card-text">Telegram: @watch_store.kz------ instagram: @premium_watch</p>
    <a href="{% url 'home' %}" class="btn btn-secondary">На главную</a>
  </div>
  <div class="card-footer text-body-secondary">
    4 days ago
  </div>
</div>
{% endblock %}