{% extends "base.html" %}

{% block title %}
Shop
{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header">
    О нашем магазине
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Интернет-магазин 𝕎𝕒𝕥𝕙 𝕊ℍ𝕠𝕡_𝕃𝕦𝕩 является официальным представителем по продаже швейцарских часов
          категории люкс в Казахстане. Также в нашей торговой сети представлены fashion и другие более доступные
          бренды швейцарских часов, которые представлены в нашем интернет магазине 𝕎𝕒𝕥𝕙 𝕊ℍ𝕠𝕡.</p>
      <footer class="blockquote-footer">Добро пожаловать 🚗 <cite title="Source Title"></cite></footer>
    </blockquote>
  </div>
</div>
{% endblock %}